@using EntitiyLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "ShowAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<a href="/About/Index/"><h2>Hakkımızda Ekle</h2></a>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.AboutStatus)
            {
                <div class="col-md-4" style="text-align:center">
                    <h1>@item.AboutDetails1</h1>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <h1>@item.AboutDetails2</h1>
                </div>
                <div class="col-md-2" style="text-align:center">
                    <h1>@item.AboutImage1</h1>
                </div>
                <div class="col-md-2" style="text-align:center">
                    <h1>@item.AboutImage2</h1>
                </div>
            }
        }
    </div>
</div>