@using EntitiyLayer.Concrete
@model About
@{
    ViewBag.Title = "UpdateAboutStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateAboutStatus</h2>

<div class="container">
    <div class="row">
        @if (Model is null)
        {
            <div class="col-md-12" style="text-align:center">
                <h1>Hakkmızda Kısmı Boşta</h1>
            </div>
        }
        else
        {
            <div class="col-md-4" style="text-align:center">
                <h1>@Model.AboutDetails1</h1>
            </div>
            <div class="col-md-4" style="text-align:center">
                <h1>@Model.AboutDetails2</h1>
            </div>
            <div class="col-md-2" style="text-align:center">
                <h1>@Model.AboutImage1</h1>
            </div>
            <div class="col-md-2" style="text-align:center">
                <h1>@Model.AboutImage2</h1>
            </div>
        }
    </div>
</div>